:root {
    --Grayish-dark-color: hsl(217, 19%, 35%);
    --dark-blue-color: hsl(214, 17%, 51%);
    --Grayish-blue-color:hsl(212, 23%, 69%);
    --Grayish-light-color: hsl(210, 46%, 95%);
    --white-color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--Grayish-light-color);
    font-family: 'Manrope', sans-serif;
}

.card {
    width: 327px;
    margin: 74px auto ;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.card img.draw {
    width: 327px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-body {
    margin: 36px 32px 0;
}

.card .card-body p#title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--Grayish-dark-color);
    margin-bottom: 12px;
}

.card .card-body p#body {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--dark-blue-color);
    margin-bottom: 20px;
}

.card .bottom {
    display: grid;
    grid-template-columns: 40px auto 32px;
    margin: 0;
    height: 64px;
    align-items: center;
}

.card .circle {
    border-radius: 50%;
}

.card .bottom img#profil {
    width: 40px;
    height: 40px;
}

.card .bottom #info {
    margin-left: 16px;
}

.card .bottom #info #name {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--Grayish-dark-color);
}

.card .bottom #info #date {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--Grayish-blue-color);
}

.card .bottom #svg-share {
    z-index: 88;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Grayish-light-color);
}

.card .bottom #svg-share.dark {
    background-color: var(--Grayish-blue-color);
}

.card .bottom #svg-share.dark svg path {
    fill: white;
}

.card div#share-block {
    position: relative;
}

.card div#share-block #share-content {
    position: absolute;
    background: url('../assets/back-share-mobile.svg');
    width: 327px;
    height: 64px;
    top: -64px;
    left: -32px;
    padding-left: 32px;
    padding-top: 22px;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.card div#share-block #share-content span.share-txt {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    color: var(--Grayish-blue-color);
    vertical-align: top;
    padding-right: 21px;
}

.card div#share-block #share-content img {
    margin-right: 16px;
}



@media screen and (min-width: 760px) {
    .card {
        width: 730px;
        flex-direction: row;
    }

    .card img.draw {
        width: 285px;
        height: 280px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .card .card-body {
        margin: 32px 40px 0;
    }

    .card .card-body p#title {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }

    .card .card-body p#body {
        margin-bottom: 20px;
        font-weight: 200;
    }

    .card div#share-block #share-content {
        background: url('../assets/back-share-desktop.svg');
        width: 268px;
        height: 87px;
        top: -130px;
        left: 216px;
        padding-left: 37px;
        padding-top: 18px;
        opacity: 0;
        transition: all 0.5s ease-in;
    }

} 